SCRIPT_PATH="${PWD}/.venv/bin/activate"
if [ -f $SCRIPT_PATH ]; then
    source $SCRIPT_PATH
fi

if [ -d ${PWD}/node_modules/.bin ]; then
	export PATH="${PWD}/node_modules/.bin:${PATH}"
fi

unset PS1
unset SCRIPT_PATH
